<!-- stationary nav bar -->
<div class="navbar navbar-fixed-top">
  <div class="navbar-inner">
    <div class="container">
      <a class="btn btn-navbar" data-toggle="collapse" data-target=".nav-collapse">
        <span class="icon-bar"></span>
        <span class="icon-bar"></span>
        <span class="icon-bar"></span>
      </a>
      <a class="brand" href="index.php">CRAWDESK</a>
      <div class="nav-collapse">
        <ul class="nav">
          <li class="<?php echo $activeIndex ?>"><a href="index.php">Home</a></li>
          <li class="<?php echo $activeTwitter1 ?>"><a href="twitter1.html">Twitter1</a></li>
          <li class="<?php echo $activeTwitter2 ?>"><a href="twitter2.html">Twitter2</a></li>
          <li class="<?php echo $activeMyCV ?>"><a href="myCV.html">myCV</a></li>
          <li class="<?php echo $activeMyCV2 ?>"><a href="myCV2.html">myCV2</a></li>
          <li class="<?php echo $activeProject1?>"><a href="project1.html">Project 1</a></li>
          <li class="<?php echo $activeProject2?>"><a href="project2.html">Project 2</a></li>
          <li class="<?php echo $activeProject3?>"><a href="project3.php">Project 3</a></li>
          <li class="<?php echo $activeAbout ?>"><a href="about.html">About</a></li>
          <li class="<?php echo $activeSamples ?>"><a href="samples.php">Notes</a></li> 
          <li><a href="envsetup.php">What PHP</a></li>
        </ul>
      </div><!--/.nav-collapse -->
    </div>
  </div>
</div>

          